<!DOCTYPE html>
<html lang="en">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
<h1>Панель администратора</h1>
<br>
<a href="/users">Список незаблокированных пользователей</a>
<br>
<br>
<a href="/banned">Бан-лист</a>
<br>
<br>
<a href="/delete_product">Удалить продукт из БД</a>
<br>
<br>
<a href="/add_product">Добавить продукт в БД</a>
<br>
<br>
<a href="/">Главная страница</a>
</body>
</html>