<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<h1>Корзина</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Photo</th>
        <th></th>
    </tr>
    <tr th:each="c : ${products}">
        <td th:text="${c.getTitle()}"></td>
        <td th:text="${c.getDescription()}"></td>
        <td th:text="${c.getPrice()}"></td>
        <td></td>
        <td><a th:text="'Удалить из корзины'" th:href="@{/removeFromCart/{id}(id=${c.getId()})}"></a></td>
    </tr>
    <tr>
        <td>Итого</td>
        <td></td>
        <td th:text="${sum}"></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br>
<br>
<a href="/">Главная страница</a>
<br>
<br>
<a href="/products">К списку продуктов</a>
<br>
<br>
<a href="/order">Оформить заказ</a>
</body>
</html>