<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Price list</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr th:each="c : ${products}">
        <td th:text="${c.getId()}"></td>
        <td th:text="${c.getTitle()}"></td>
        <td th:text="${c.getDescription()}"></td>
        <td th:text="${c.getPrice()}"></td>
    </tr>
</table>
</body>
</html>