<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог продукции</title>
</head>
<body>
<h1>Каталог продукции</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Photo</th>
        <th></th>
    </tr>
    <tr th:each="c : ${products}">
        <td th:text="${c.getTitle()}"></td>
        <td th:text="${c.getDescription()}"></td>
        <td th:text="${c.getPrice()}"></td>
        <td></td>
        <td><a th:text="'В корзину'" th:href="@{/toCart/{id}(id=${c.getId()})}"></a></td>
    </tr>
</table>
<br>
<br>
<a href="/">Главная страница</a>
</body>
</html>