<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<form th:action="@{register}" th:object="${user}" method="post">
    Введите логин: <input type="text" th:field="*{login}"/>
    <br>
    Введите пароль: <input type="text" th:field="*{password}"/>
    <br>
    <button type="submit">Зарегистрироваться</button>
</form>

<a href="/">Главная страница</a>
</body>
</html>